tags
*.dat
*.swo
*.swp
.DS_Store
.bundle
.project
.sass-cache/
config/*.sphinx.conf
app/assets/images/u2p-*.png
config/database.yml
coverage/*
db/*.sqlite3
db/*.sqlite3-journal
db/sphinx
log/*
public/assets/
public/javascripts/compiled/*
spec/javascripts/generated/*
tmp/*
